* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 20px;
    height: 25px;
}

.app {
    width: 1020px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0837f2;
    border-radius: 20px;
    margin: 5%;
}

.contacts {
    padding: 20px;
}

.info {
    margin: 10px;
    padding: 5px;
    border: 2px solid #18e336;
    width: 200px
}

.info:placeholder-shown {
    font-weight: bold;
}

.add__item {
    width: 80px;
    height: 25px;
    border: none;
    background-color: transparent;
    border: 1px solid #000;
    background-color: #18e336;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.usersList {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.usersList > ul {
    margin: 10px;
    list-style: none;
    border: 1px solid #0837f2;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usersList li {
    color: #000;
    font-style: italic;
    font-weight: 400;
    margin: 5px;
    width: 150px;
    word-wrap: break-word;
}

.usersList li > span {
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
}

button {
    margin: 5px;
    border: none;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
}

.editform {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #f08585;
    width: 400px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}

.editform input {
    margin: 5px;
    width: 80%;
    text-align: center;
    background-color: #ccc;
    color: #000;
    font-weight: bold;
    font-style: italic;
    height: 25px;
}